{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{ with .Params.subtitle }}
				<div class="post__subtitle">{{ . }}</div>
			{{ end }}
			<div class="post__bordered">
				{{ if and .Params.postauthor .Params.postemail }}
					<span class="post__author"><a href="mailto:{{ .Params.postemail }}">{{ .Params.postauthor }}</a></span><span>: </span>
				{{ else }}
					{{ with .Params.postauthor }}
						<span class="post__author">{{ . }}</span><span>: </span>
					{{ end }}
				{{ end }}
				{{ with .Params.postauthorinfo }}
				<span class="post__author-info">{{ . }}</span>
			{{ end }}
		
				{{ if and .Params.postauthorarea .Params.posturl }}
					<p class="post__author-area"><a href="{{ .Params.posturl }}">{{ .Params.postauthorarea }}</a></p>
				{{ else }}
					{{ with .Params.postauthorarea }}
						<p class="post__author-area">{{ . }}</p>
					{{ end }}
				{{ end }}
				{{ with .Params.date | time.Format ":date_medium" }}
					<span class="post__author">Date: </span><span class="post__author-date">{{ . }}</span>
				{{ end }}
			</div>
		</header>
		<hr>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		<div style="margin: 2rem 0 0 0"></div>
		{{- if .Params.tags }}
			<footer class="post__footer">
				{{ partial "post_tags.html" . }}
			</footer>
		{{- end }}
	</article>
	{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
	{{- end }}
	{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
	{{- end }}    
</main>
{{ partial "comments.html" . }}
{{ end }}
