<article class="list__item-portal post" style="padding-top: .75rem">
  <header>
  <div class="post__grid-short"> 
  <div><span style="display: flex; align-items: center;">
     <span class="portal-head">
     {{- with .Params.portalurl }}
     {{- end }}
     <img class="portalimg-na" src="{{ .Params.image }}" alt="{{ .Title }}">
     {{- with .Params.portalurl }}
     {{- end }}
     </span>
     </span>
  </div>
  <div><span style="display: flex; align-items: center;">
     <span class="list__title post__title-wg">
         {{- with .Params.portalurl }}
  
         {{- end }}
         {{ .Title }}
         {{- with .Params.portalurl }}
  
         {{- end }}
   </span>
  </span>
  </div>
  </div>
  </header>
  <div class="content list__excerpt post__content clearfix-links">
    {{ .Content }}
  </div>
</article>
