/* gallery.css */
.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 0;
  padding: 0;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.image-container {
  position: relative;
  width: 150px;
  height: 200px;
  box-sizing: content-box;
  overflow: hidden;
  box-shadow: #53565A 0 0 3px 1px;
  outline: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.image-container:hover {
  background-color: white;
}

.image-container img {
  width: 100%;
  height: 100%;
  padding: 0.5rem !important;
}

.caption-container {
  width: 130px;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: .85em;
  padding: 1rem .5rem!important;
  box-sizing: border-box;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0rem 0 1rem 0;
  gap: .5rem 0;
}

@media screen and (max-width: 900px) {
  .pagination {
    justify-content: center;
  }

  .image-wrapper {
    width: calc(50% - 10px);
    height: auto;
  }

  #gallery {
    justify-content: center;
  }
}

.page-link {
  margin: 0 5px;
  padding: 5px;
  color: white;
  background-color: #2d2c2c;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration-color: transparent !important;
}

a.page-link:link,
a.page-link:visited,
a.page-link:hover,
a.page-link:active {
  text-decoration-color: transparent !important;
}

button.page-link:hover {
  background-color: #B9DCD2 !important;
  color: black !important;
}

button.page-link.active {
  background-color: #336699;
  text-decoration-color: transparent !important;
  color: white;
}

.spacer {
  width: 30px;
  height: 30px;
}

#prevPage,
#nextPage {
  background-color: var(--galnav);
  color: white;
  font-size: 2rem;
  border: 0;
  border-radius: 4px;
}

#prevPage:active,
#nextPage:active {
  background-color: #C0392B !important;
  color: #ffa500 !important;
}

#prevPage:hover,
#nextPage:hover {
  background-color: #B9DCD2;
  color: black;
}