---
layout: compress
# Default layout
---
<!doctype html>
{% include origin-type.html %}

{% include lang.html %}

{% capture prefer_mode %}
  {% if site.theme_mode %}
    data-mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

{% if layout.tail_includes %}
  {% assign has_tail = true %}
{% endif %}

<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ site.alt_lang | default: site.lang }}" {{ prefer_mode }}>
  {% include head.html %}

  <body>
<!--
    {% if page.class == 'nosidebar' %}
      {% include sidebar-blank.html lang=lang %}
    {% else %}
      {% include sidebar.html lang=lang %}
    {% endif %}

  -->
    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row">
          <main
            aria-label="Main Content"
            class="col-12 col-lg-11 col-xl-9 px-md-4{% unless has_tail %} pb-5{% endunless %}"
          >
            {{ content }}
          </main>

          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 text-muted">

            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

<div style="border-left: 1px solid rgb(118, 120, 121);">
<div class="menubutton-grid" style="margin-left: 1rem; margin-top: 1.5rem;">
            <div>
            <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
            <div class="ctr">
            <div class="figure">
              <a class="nostyle" title="UNT IT Help DeskHome" href="{{ site.baseurl }}">
              <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}/assets/images/website/home.svg">
              <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/home-hover.svg">
              </a>
            </div>
            </div>
            </div>
            <div>
            <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
            <div class="ctr">
            <div class="figure">
              <a class="nostyle" title="UNT IT Help Desk Blog" href="{{ site.baseurl }}posts">
              <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/gposts.svg">
              <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/gposts-hover.svg">
              </a>
            </div>
            </div>
          </div>
          <div>
          <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
            <div class="ctr">
            <div class="figure">
              <a class="nostyle" title="Useful Links" href="{{ site.baseurl }}links">
              <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/links.svg">
              <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/links-hover.svg">
              </a>
            </div>
            </div>
            </div>
          <div>
          <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
            <div class="ctr">
            <div class="figure">
              <a class="nostyle" title="Technology Resources Links" href="{{ site.baseurl }}techlinks">
              <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/tech.svg">
              <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/tech-hover.svg">
              </a>
            </div>
            </div>
          </div>
          <div>
          <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
            <div class="ctr">
            <div class="figure">
              <a class="nostyle" title="FAQ" href="{{ site.baseurl }}faq">
              <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/faq.svg">
              <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/faq-hover.svg">
            </a>
          </div>
          </div>
        </div>
        <div>
          <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
            <div class="ctr">
            <div class="figure">
              <a class="nostyle" title="UNT Onlin Service Portals" href="{{ site.baseurl }}services">
              <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/online.svg">
              <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/online-hover.svg">
              </a>
            </div>
            </div>
</div>
</div>

<div class="menubutton-grid" style="margin-bottom: 1.5rem; margin-left: 1rem;">
  <div>
  <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <div class="ctr">
  <div class="figure">
    <a class="nostyle" title="Student Web Galleries" href="{{ site.baseurl }}student-websites">
    <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}/assets/images/website/website.svg">
    <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/website-hover.svg">
    </a>
  </div>
  </div>
  </div>
  <div>
  <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <div class="ctr">
  <div class="figure">
    <a class="nostyle" title="UNT IT Help Desk Documentation" href="{{ site.baseurl }}docs">
    <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/document.svg">
    <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/document-hover.svg">
    </a>
  </div>
  </div>
</div>
<div>
<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <div class="ctr">
  <div class="figure">
    <a class="nostyle" alt="System Status Checks" href="{{ site.baseurl }}status">
    <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/status.svg">
    <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/status-hover.svg">
    </a>
  </div>
  </div>
  </div>
<div>
<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <div class="ctr">
  <div class="figure">
    <a class="nostyle" alt="Github Repositories" href="{{ site.baseurl }}repositories">
    <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/repo.svg">
    <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/repo-hover.svg">
    </a>
  </div>
  </div>
</div>
<div>
<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <div class="ctr">
  <div class="figure">
    <a class="nostyle" title="External Resources" href="{{ site.baseurl }}resources">
    <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/resource.svg">
    <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/resource-hover.svg">
    </a>
  </div>
  </div>
</div>
<!--
<div>
<script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <div class="ctr">
  <div class="figure">
    <a class="nostyle" title="" href="{{ site.baseurl }}">
    <img class="Sirv image-main portal-image" src="https://demo.sirv.com/hc/Bose-700-a.jpg?w=10&colorize.color=efefef" data-src="{{ site.baseurl }}assets/images/website/faq.svg">
    <img class="Sirv image-hover portal-image" data-src="{{ site.baseurl }}assets/images/website/faq-hover.svg">
  </a>
</div>
</div>
</div>
-->

</div>
</div>
<hr style="border: 0px solid transparent; border-bottom: 1px solid rgb(118, 120, 121); background-color: rgb(118, 120, 121); margin: 0!important; width: 95%; padding: 0; text-align: left;">
<div style="border-left: 1px solid rgb(118, 120, 121);">
<div style="width: 100%; height: auto; margin-left: 1rem; margin-top: 1.5rem;">
<div class="menulogo-grid">
<div class="menulogo"><a class="nostyle" href="https://technology.untsystem.edu/index.php"><img class="logo" style="background-color: white;" src="{{ site.baseurl }}assets/images/website/untsystem-favicon.ico"></a><p><a class="nostyle" href="https://technology.untsystem.edu/index.php">UNT System</a></p></div>
<div class="menulogo"><a class="nostyle" href="https://www.unt.edu"><img class="logo" style="background-color: white;" src="{{ site.baseurl }}assets/images/favicons/unt_logo_fixed.png"></a><p><a class="nostyle" href="https://www.unt.edu">UNT Denton</a></p></div>
<div class="menulogo"><a class="nostyle" href="https://www.unthsc.edu/Information-technology-services/"><img class="logo" style="padding: .25rem;background-color: white;" src="{{ site.baseurl }}assets/images/website/hsc-logo.png"></a><p><a class="nostyle" href="https://www.unthsc.edu/Information-technology-services/">UNT Health Science Center</a></p></div>
<div class="menulogo"><a class="nostyle" href="https://www.untdallas.edu/oit"><img class="logo" style="padding: .7rem .25rem; background-color: white;" src="{{ site.baseurl }}assets/images/website/UNTD-logo-blue-vertical.png"></a><p><a class="nostyle" href="https://www.untdallas.edu/oit">UNT Dallas</a></p></div>
<div class="menulogo"><a class="nostyle" href="https://frisco.unt.edu/student-services/technology"><img class="logo" style="padding: .25rem 0;background-color: white;" src="{{ site.baseurl }}assets/images/website/unt_at_frisco_eagle_vertical_green.png"></a><p><a class="nostyle" href="https://frisco.unt.edu/student-services/technology">UNT Frisco</a></p></div>
</div>
</div>
</div>
            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>

        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if has_tail %}
              {% for _include in layout.tail_includes %}
                {% assign _include_path = _include | append: '.html' %}
                {% include {{ _include_path }} lang=lang %}
              {% endfor %}
            {% endif %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>
        {% include_cached search-loader.html lang=lang %}
        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html %}
  </body>
</html>
