{{- if .Site.Author.name -}}
<div class="meta__item-author meta__item">
<!--	{{ partial "svg/author.svg" (dict "class" "meta__icon") -}}  -->

    <div class="post__author-wrap">
        {{ with .Params.date | time.Format ":date_medium" }}
            <span class="post__author-date-wrap post__author-date"></span><span class="post__author-date">{{ . }} :</span>
        {{ end }}
        {{ if and .Params.postauthor .Params.postemail }}
            <span class="post__author"><a href="mailto:{{ .Params.postemail }}">{{ .Params.postauthor }}</a></span><span style="color: var(--light_gray);"> - </span>
        {{ else }}
            {{ with .Params.postauthor }}
                <span class="post__author">{{ . }}</span><span>: </span>
            {{ end }}
        {{ end }}
        {{ with .Params.postauthorarea }}
        <span class="postauthorarea"><b>{{ . }}</b></span> -
        {{ end }}
        {{ with .Params.postauthorinfo }}
        <span class="post__author-info">{{ . }}</span>
        {{ end }}
    <!--
        {{ if and .Params.postauthorarea .Params.posturl }}
            <p class="post__author-area"><a href="{{ .Params.posturl }}">{{ .Params.postauthorarea }}</a></p>   
        {{ else }}
            {{ with .Params.postauthorarea }}
                <p class="post__author-area">{{ . }}</p>
            {{ end }}
        {{ end }}

    -->
    </div>
<!--	<span class="meta__text">{{ .Site.Author.name }}</span>  -->
</div>
{{- end -}}
<hr style="border-color: var(--theme-blue);">