/* gallery.css v2: modal */
.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0rem;
  margin-top: 0;
  padding: 0;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.image-container {
  position: relative;
  width: 150px;
  height: 200px;
  box-sizing: content-box;
  overflow: hidden;
  box-shadow: #53565A 0 0 3px 1px;
  outline: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.image-container:hover {
  background-color: white;
}

.image-container img {
  width: 100%;
  height: 100%;
  padding: 0.5rem !important;
}

.caption-container {
  width: 130px;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: .85em;
  padding: 1rem .5rem!important;
  box-sizing: border-box;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0rem 0 1rem 0;
  gap: .5rem 0;
}

@media screen and (max-width: 900px) {
  .pagination {
    justify-content: center;
  }

  .image-wrapper {
    width: calc(50% - 10px);
    height: auto;
  }

  #gallery {
    justify-content: center;
  }
}

.page-link {
  margin: 0 5px;
  padding: 5px;
  color: white;
  background-color: #2d2c2c;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration-color: transparent !important;
}

a.page-link:link,
a.page-link:visited,
a.page-link:hover,
a.page-link:active {
  text-decoration-color: transparent !important;
}

button.page-link:hover {
  background-color: #B9DCD2 !important;
  color: black !important;
}

button.page-link.active {
  background-color: #336699;
  text-decoration-color: transparent !important;
  color: white;
}

.spacer {
  width: 30px;
  height: 30px;
}

#prevPage,
#nextPage {
  background-color: var(--galnav);
  color: white;
  font-size: 2rem;
  border: 0;
  border-radius: 4px;
}

#prevPage:active,
#nextPage:active {
  background-color: #C0392B !important;
  color: #ffa500 !important;
}

#prevPage:hover,
#nextPage:hover {
  background-color: #B9DCD2;
  color: black;
}

/* Modal Styles */
    /* background-color: rgb(255, 255, 255);  F/*allback color */
    /* background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%; /* Center the modal horizontally */
    top: 10%; /* Center the modal vertically */
    width: 60%; /* Width of the modal */
    height: 80%; /* Height of the modal */
    overflow: hidden; /* No scroll */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    border-radius: 10px; /* Optional: for rounded corners */
    padding: 1rem;
    box-shadow: #B9DCD2 0 0 4px 4px;
    outline: 1px solid #336699;
  }

 /* 
  .modal:hover {
    background-color: rgba(255, 255, 255, 0.9); 
  }
*/

  .modal-content {
    width: 100%; /* Full width of the modal */
    height: 100%; /* Full height of the modal */
    object-fit: contain; /* Maintain aspect ratio and fill the modal */
    margin: auto; /* Center the image */
    display: block; /* Block-level element for centering */
  }

  /*
  .modal-content {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain;
    margin: auto; 
    display: block; 
  }
  */

  .close {
    color: #E74C3C;
    background: #ffa500;
    position: absolute;
    top: 50px;
    right: 57px;
    transform: translate(50%, -50%);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 50px; /* Center the text vertically */
    text-align: center;
    border-radius: 10px;
  }
 
  
  .close:hover,
  .close:focus {
    color: #ffa500;
    background:#E74C3C;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  /*
  #modalCaption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  */

  #colorOptions {
    position: absolute;
    right: 26px;
    top: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #336699;
    padding: 1rem;
    border-radius: 10px;

  }
  
  .colorBox {
    width: 30px;  /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    border-radius: 5px; /* Optional for rounded corners */
    }
  
  html {
    --box-bg1: black;
    --box-bg2: white;
    --box-bg3: #7F8C8D;
    
  }

  #Box_1 { background-color: var(--box-bg1); }
  #Box_2 { background-color: var(--box-bg2); }
  #Box_3 { background-color: var(--box-bg3); }
  