
/* portals.css */
html {
    background-color: #2d2c2c;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }

  .body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

  }

  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2rem;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center images horizontally */
    margin: 0;
  }

.image-container {
position: relative;
width: 75px;
height: 75px; /* Maintain a fixed height */
box-sizing: content-box;
overflow: hidden;
box-shadow: #B9DCD2 0 0 10px 3px;
border: 3px solid #336699;
outline: 1px solid transparent;
border-radius: 4px;
background-color: white;
display: flex;
justify-content: center;
align-items: center; /* Center images vertically */
transition: background-color 0.3s; /* Add transition for smooth color change */
}

.image-container:hover {
background-color: #00A9E0;
}

.image-container img {
width: 100%; /* Adjusted to fill the container */
height: 100%; /* Adjusted to fill the container */
padding: 0.5rem !important;
}

.caption-container {
width: 150px;
text-align: center;
background-color: transparent;
color: white;
font-size: .85em;
padding: .5rem .5rem 1rem .5rem!important;
box-sizing: border-box;
height: 4rem; /* Set the height for multi-line captions */
display: flex;
justify-content: center;
align-items: top;
margin-top: 1em;
}

  .image-link {
    display: block;
    text-decoration: none;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    gap: .5rem 0;
  }

  @media screen and (max-width: 900px) {
    .pagination {
      justify-content: center;
    }

    .image-container {
      width: calc(50% - 10px); /* Adjusted to accommodate margin */
      height: auto;
    }

    #gallery {
      justify-content: center;
    }
  }

  .page-link {
    margin: 0 5px;
    padding: 5px;
    color: white;
    background-color: #2d2c2c;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration-color: transparent !important;
  }

  a.page-link:link,
  a.page-link:visited,
  a.page-link:hover,
  a.page-link:active {
    text-decoration-color: transparent !important;
  }

  button.page-link:hover {
    background-color: #B9DCD2 !important;
    color: black !important;
  }

  button.page-link.active {
    background-color: #336699;
    text-decoration-color: transparent !important;
    color: white;
  }

  .spacer {
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  #prevPage,
  #nextPage {
    background-color: var(--galnav);
    color: white;
    font-size: 2rem;
    border: 0;
    border-radius: 4px;
  }

  #prevPage:active,
  #nextPage:active {
    background-color: #C0392B !important;
    color: #ffa500 !important;
  }

  #prevPage:hover,
  #nextPage:hover {
    background-color: #B9DCD2;
    color: black;
  }