
/* portals.css */
.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0rem;
  margin-top: 0;
  padding: 1rem 0rem 0rem 0rem;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.image-container {
position: relative;
width: 150px;
height: 200px;
box-sizing: content-box;
overflow: hidden;
box-shadow: #B9DCD2 0 0 10px 3px;
border: 3px solid #336699;
outline: 1px solid transparent;
border-radius: 4px;
background-color: white;
display: flex;
justify-content: center;
align-items: center; /* Center images vertically */
transition: background-color 0.3s; /* Add transition for smooth color change */
}

.image-container:hover {
background-color: #00A9E0;
}

.image-container img {
width: 100%; /* Adjusted to fill the container */
height: 100%; /* Adjusted to fill the container */
padding: 0.5rem !important;
}

.caption-container {
width: 130px;
text-align: center;
background-color: transparent;
box-sizing: border-box;
height: 4rem; /* Set the height for multi-line captions */
display: flex;
justify-content: center;
align-items: top;
margin-top: 1em;
}

.image-link {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: relative;
  width: 150px;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: #B9DCD2 0 0 10px 3px;
  border: 3px solid #336699;
  outline: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  text-decoration: none;
}

.image-link:hover {
  background-color: #00A9E0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0rem 0 1rem 0;
  gap: .5rem 0;
}

@media screen and (max-width: 900px) {
  .pagination {
    justify-content: center;
  }

  .image-container {
    width: calc(50% - 10px); /* Adjusted to accommodate margin */
    height: auto;
  }

  #gallery {
    justify-content: center;
  }
}

.page-link {
  margin: 0 5px;
  padding: 5px;
  color: white;
  background-color: #2d2c2c;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration-color: transparent !important;
}

a.page-link:link,
a.page-link:visited,
a.page-link:hover,
a.page-link:active {
  text-decoration-color: transparent !important;
}

button.page-link:hover {
  background-color: #B9DCD2 !important;
  color: black !important;
}

button.page-link.active {
  background-color: #336699;
  text-decoration-color: transparent !important;
  color: white;
}

.spacer {
  width: 30px;
  height: 30px;
  display: inline-block;
}

#prevPage,
#nextPage {
  background-color: var(--galnav);
  color: white;
  font-size: 2rem;
  border: 0;
  border-radius: 4px;
}

#prevPage:active,
#nextPage:active {
  background-color: #C0392B !important;
  color: #ffa500 !important;
}

#prevPage:hover,
#nextPage:hover {
  background-color: #B9DCD2;
  color: black;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 200px;
  perspective: 1000px;
  margin: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #E3F2FD;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: #336699 0 0 3px 3px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: #B9DCD2 0 0 3px 3px;
  text-align: justify;
  text-justify: inter-character;
  hyphens: auto!important;
  font-size: .8em;
}
